/MockitoDemo/build/
/MockitoDemo/.nb-gradle/
/MatkakorttiMockito/.nb-gradle/
/MatkakorttiMockito/build/
/VerkkokauppaSpring/.nb-gradle/
/VerkkokauppaSpring/build/
/IntJoukkoSovellus/build/
/IntJoukkoSovellus/.nb-gradle/
/Tennis/.nb-gradle/
/Laskin/.nb-gradle/
/Laskin/build/
/QueryLanguage/.nb-gradle/
/QueryLanguage/build/